{include file='public:header'}
{include file='public:sidebar'}

<!-- BEGIN PAGE -->

<div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->        

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

        <h3 class="page-title" id=""></h3>

        <ul class="breadcrumb">
            <li>
                <i class="icon-warning-sign"></i>
                <a href="#">{:lang('_MOD_ALARM')}</a> 
                <!-- <i class="icon-angle-right"></i> -->
            </li>
            <!-- <li><a href="#">xxx</a></li> -->
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

    </div>

    <!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->

        <div class="portlet box light-grey">

            <div class="portlet-body">

                <div class="clearfix">

                    <div class="search btn-group">

                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form id="form_keyword" class="search">
                            <input type="text" id="search_keyword" placeholder="Search..." style="float:left;padding:6px"/>
                            <button id="form_search_bt" type="button" class="btn green" style="float:left">{:lang('_SEARCH')}</button>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->

                    </div>

                    <div class="btn-group pull-right">

                        <button class="btn dropdown-toggle" data-toggle="dropdown">{:lang('_EXPORT')}  <i class="icon-angle-down"></i></button>

                        <ul class="dropdown-menu pull-right">
                           <!--  <li><a href="#">打印</a></li> -->
                            <li><a href="#">{:lang('_EXPORT')} PDF</a></li>
                            <li><a href="{:url('Basisbom/boms_export')}">{:lang('_EXPORT')} Excel</a></li>
                        </ul>
                    </div>
                </div>

                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <!-- <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th> -->
                            <th>{:lang('_INDEX')}</th>
                            <th class="hidden-480">{:lang('_NODE_UID')}</th>
                            <th class="hidden-480">{:lang('_TYPE')}</th>
                            <th class="hidden-480">{:lang('_ALM_COUNT')}</th>
                            <th class="hidden-480">{:lang('_LEVEL')}</th>
                            <th class="hidden-480">{:lang('_STATE')}</th>
                            <th class="hidden-480">{:lang('_CREATE_T')}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table_boms_list">
                        {volist name="lists" id="list" key="key"}
                        <tr  class="odd gradeX">
                            <!-- <td><input type="checkbox" class="checkboxes" value="1" /></td> -->
                            <td>{$key}</td>
                            <td class="center">{$list.uid}</td>
                            <td class="center">{$list.type}</td>
                            <td class="center">{$list.count}</td>
                            <td class="center">{$list.level}</td>
                            <td class="center">{$list.state}</td>
                            <td class="center">{$list.create_time}</td>
                            <td><button class='page_bom_td_edit mini btn green'>Confirm</button></td>
                        </tr>
                        {/volist}

                    </tbody>
                    <div id="boms_table_body"></div>

                    <tfoot></tfoot>

                </table>

                {$page}

                <div class="row-fluid">
                    <div class="span6">
                        <div class="dataTables_info" id="sample_editable_1_info">Showing 1 to 5 of 6 entries</div>
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination">
                            <ul>
                                <li class="prev disabled">
                                    <a href="#" onclick="table_prev()">
                                        ← 
                                        <span class="hidden-480">Next</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li class="next">
                                    <a href="#" onclick="table_next()">
                                    <span class="hidden-480">Prev</span>
                                     →
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- END EXAMPLE TABLE PORTLET-->

    </div>

</div>

<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE -->

{include file='public:footer'}
